.notification-panel{
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.notification-panel__item{
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    box-shadow: 0px 1px 9px 4px #242424;
    background: #F1F5F6;
    width: 375px;
    color: #242424;
}
.notification__ok{
    border-top:5px solid #27ae60;
}
.notification__error{
    border-top:5px solid #c0392b;
}
.notification__title{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.notification__description{
    font-size: 14px;
    margin-top: 5px;
}
.notification__link{
    font-weight: 600;
}

.notification-right{
    margin-left: 15px;
    cursor: pointer;
}

.notification_icon{
    width: 10px;
}